*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    scroll-behavior: smooth;
}
* ul {
    margin: 0;
    padding: 0;
}

.navbar{
    padding:10px 0 0 0;

}

header {
    margin: 0;
    padding-top:50px;
    padding-bottom: 50px;
   
}


body {
    margin: 0;
   
}
 



.foto{
display: flex;
justify-content: center;
align-items: center;
width: 25vw;
max-width: 500px;
min-width: 320px;
margin: auto;
margin-bottom: 20px
    
}


.icon{
    width: 25px;
    height: 25px;

}

.foto-perfil{
   width: 50%;
   height: 70%;
   border-radius: 50px;
}

#texto-soy {    
    display: flex;
    justify-content: center;
    width: 600px;
    height: 40px;
    color: #b14623;
    font-size: 30px;
    line-height: 40px;
    
   
    
     
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow:hidden;
}

#texto-soy li,p,ul,h2 {
    line-height: 40px;
}


#texto-soy ul{
    list-style:none;
    padding-left: 10px;

    animation: cambiar 7s infinite;
}
    

#texto-soy ul, p {
    margin: 0;
    
}

@keyframes cambiar {
    0% {margin-top: 0;}
    20% {margin-top: 0;}

    25% {margin-top:-40px;}
    50% {margin-top:-40px;}

    55% {margin-top:-80px;}
    80% {margin-top:-80px;}

    85% {margin-top:-80px;}
    95% {margin-top:-80px;}

    100% {margin-top: 0px;}
    
}

.nombre h1{
    margin-top: 10px;
}


.datos-personales, .nombre{
    
    display:flex;
    justify-content:center;
    align-items: center;
    text-align: center;
}

.datos-personales{
    padding-top: 5px;
    font-size: 1.3em;
}




main{
    padding-top: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;   

}

.caja-main{
    margin: 0 20px 0 20px;
}

main li{
    list-style:none;
    font-size: larger;
    margin: 10px 0 10px 0;
}

main h2{
    padding-top: 10px;
}

h1 {
    text-align: center;
    margin: 35px 0 20px 0 !important;
  }
  


.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 30px 0px;
}

.footer-container i{
    font-size: 40px;
    color: #b14623;
    padding: 0 20px 0 20px;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.copy i{
    margin: 0;
    padding: 4px;
}

